
*/tmp/*
*/log/*
backend/tmp/cache/bootsnap-load-path-cache
backend/tmp/cache/bootsnap-compile-cache/*
backend/tmp/cache/

.DS_Store
backend/logs/*
*.log
npm-debug.log*
backend/pids
*.pid
*.seed
backend/lib-cov
backend/build/Release
backend/node_modules
backend/jspm_packages
.npm
.node_repl_history
.results.json
backend/.bundle
backend/db/*.sqlite3
backend/db/*.sqlite3-journal
/log/*
!/log/.keep
/tmp/*
backend/tmp/cache/bootsnap-load-path-cache
backend/tmp/cache/bootsnap-load-path-cache/*
backend/tmp/cache/bootsnap-load-path-cache
